# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/target/
/test-output/
/.classpath
/.project
/.settings/

README.md.html
.idea/compiler.xml

.idea/.name

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/libraries/Maven__com_beust_jcommander_1_27.xml

.idea/libraries/Maven__org_beanshell_bsh_2_0b4.xml

.idea/libraries/Maven__org_testng_testng_6_8_21.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

graph.iml

.idea/uiDesigner.xml
